@import '../imports/bootstrap/css/bootstrap';

.scrollbar-hidden {
    
    ::-webkit-scrollbar {
        display: none;
    }
}

// group classes
.c-flex-between {
    @extend .d-flex;
    @extend .justify-content-between;
}

.c-flex-center {
    @extend .d-flex;
    @extend .justify-content-evenly;
}
.c-main-content {
    height: 90%;
}

.c-section {
    @extend .container-fluid;
    @extend .border;
    @extend .p-0;
    @extend .rounded;
}

.c-section-toggler {
    @extend .border;
    @extend .rounded-5;
    @extend .text-center;
    @extend .p-2;
    @extend .shadow ;
}

.c-section-header {
    @extend .sticky-top !optional;
    @extend .bg-light !optional;
    @extend .p-2 !optional;
    @extend .px-3 !optional;
    @extend .border-bottom !optional;
    // @extend .border-danger !optional;

    .c-title-container {
        @extend .d-flex !optional;
        @extend .align-items-center !optional;
    }
}

.c-section-header_table {
    @extend .sticky-top !optional;
    @extend .p-2 !optional;
    @extend .px-3 !optional;
    @extend .border-bottom !optional;
    @extend .rounded-top;

    .c-title-container {
        @extend .d-flex !optional;
        @extend .align-items-center !optional;
    }
}

.c-table-container {
    // @extend .border;
    // @extend .rounded;
    @extend .table-responsive;
    // @extend .container-fluid;

    table {
        @extend .table;
        @extend .table-hover;
        @extend .table-bordered;
        @extend .align-middle;

        // th {
        //     @extend .text-center;
        // }

        tbody {
            @extend .table-group-divider;
        }
    }
}

#dispatch-form-details {

    span:not(.fw-bold) {

        @extend .text-nowrap !optional;
        @extend .overflow-x-auto !optional;;
        @extend .w-75 !optional;
        @extend .text-end !optional;

    }

    .first-column {

        @extend .text-end !optional;

    }

}

#order-list-pending {
    
    .order {
        
        @extend .list-group-item;
        @extend .list-group-item-action;
        @extend .text-center;

        .section {

            @extend .d-flex;
            @extend .w-50;
            @extend .justify-content-between;
            @extend .align-items-center;
            
        }

    }
    
}

#dispatch-modal {
    span {
        font-size: small;
    }
    
    strong {
        font-size: small;
    }

    .fine-print {
        font-size: x-small;
        color: lightblue;
    }
}
// @media print {
    
//     body {
//         margin: 0;
//         padding: 0;
//         width: 100%;
//         height: 100%;
//     }

//     #orderPreviewModal {
//         // Set the modal width to 100% of the page for printing
//         width: 100% !important;
//         height: 100% !important; // Allow the height to auto-adjust based on content
//         max-width: none; // Remove the default max-width
//         background-color: white;
//     }

//     #orderPreviewMain {
//         width: 100%;
//         height: auto; // Allow for dynamic height
//         overflow: visible; 
//         background-color: white;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;

//         h6 {
//             font-size: 1.5em;
//             margin-bottom: 0.5em;
//         }

//         p {
//             margin: 0.5em 0;
//         }

//         table {
//             width: 100%;
//             border-collapse: collapse;

//             th, td {
//                 border: 1px solid #000;
//                 padding: 0.5em;
//             }

//             th {
//                 background-color: #f2f2f2;
//             }
//         }
//     }

//     .modal-footer, .modal-header {
//         display: none;
//     }

//     // .scrollbar-disabled {
//     //     scrollbar-width: none; /* Firefox */
//     //     -ms-overflow-style: none;  /* IE 10+ */

//     //     &::-webkit-scrollbar {
//     //         background: transparent; /* Chrome/Safari/Webkit */
//     //         width: 0px;
//     //     }
//     // }

//     /* Hide scrollbar for Chrome, Safari and Opera */

// }
